.prova_timestamp{
	color: gray;
	font-style: italic;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: rgba(217,237,247,0.75);
}

.table_result tbody tr td{
	border: none;
}
.table_result tfoot tr td{
	text-align: right;
	font-style: italic;
	color: gray;
}

.table_result .icon_actions{
	text-align: right
}
.table_result .icon_actions div{
	float: right;
	margin-left: 5px;
	width: 20px;
	height: 20px;
	box-shadow: 0px 0px 1px 0px transparent;
	border-radius: 2px;
	background: transparent center no-repeat;
}
.table_result .icon_actions div:hover{
	cursor: pointer;
	box-shadow: 0px 0px 2px 1px #333;
	background-color: white;
}
/*Defaults*/
.table_result .icon_actions .icon_action_view{
	background-image: url('../images/icons/eye_16.png');
}
.table_result .icon_actions .icon_action_delete{
	background-image: url('../images/icons/delete_16.png');
}

/*Specifics*/
.table_result .icon_actions .icon_action_prova_get_statistics{
	background-image: url('../images/icons/pie_chart_16.png');
}

.other_resps{
	position: relative;
	top: -8px;
	right: -12px;
}