body{
	background: url('../images/bg-noise-20x20.png') #CCF;
}

#homepageBody{
	background: url('../images/uece.png') center center no-repeat;
	height: 500px;
	opacity: 0.3;
}

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; }
.ui-corner-tr { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-br { -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-top { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-right {  -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-left { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-all { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

.btn-stretch-sides{
	padding-left: 50px;
	padding-right: 50px;
}

#pageHeader{
	width: 100%;
	background: #333;
	height: 40px;
}

#appTitle a{color: white;}
#appTitle a:hover{text-decoration: none}
#appTitle{
	color: white;
	float: left;
	margin-top: 5px;
	margin-right: 15px;
	font-size: x-large;
	font-weight: lighter;
}

.nav-pills>li>a {
	border-radius: 0px;
	color: white;
}
.nav-pills>li>a:hover, .nav-pills>li>a:focus,
.nav .open>a,  .nav .open>a:hover, .nav .open>a:focus {
	background-color: #000;
}

#pageHeader .dropdown-menu{
	background-color: #333;
	margin: 0;
	border: none;
	border-radius: 0;
	-moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px;
}

.dropdown-menu>li>a, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	color: white;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background: #000;
}


#headerContent{
	width: 88%;
	margin: auto;
}

#pageBody{
	width: 90%;
	margin: auto;
	background-color: white;
	overflow-y: auto;

	-webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
}

#pageTitle{
	width: 100%;
	padding: 10px 5px 5px 15px;
	font-size: x-large;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #F5F5F5;
	border-bottom: 1px solid #EEEEEE;
	font-weight: bold;
}

#bodyContent{
	padding: 10px;
}

#footer{
	width: 100%;
	padding-top: 3px;
	font-size: smaller;
	color: gray;
	text-align: center;
}